  @use '../abstracts' as *;

  :root {
    --color-bg: #{$platinum};
    --color-text: #{$carbon};
    --color-text-inverse: #{$ghost};
    --color-link: #{$sky};
    --color-link-hover: #{$ice};
    --color-accent: #{$arctic};
    --color-code-bg: #{$mist};
  }

  [data-theme='dark'] {
    --color-bg: #{$carbon};
    --color-text: #{$platinum};
    --color-text-inverse: #{$carbon};
    --color-code-bg: #{$storm};
  }

  [data-theme='c64'] {
    --color-bg: #{$c64-dark-blue};
    --color-text: #{$c64-light-blue};
    --color-text-inverse: #{$c64-dark-blue};
    --color-link: #{$platinum};
    --color-link-hover: #{$stone};
    --color-code-bg: #{$c64-logo-blue};

    body::after {
      @include scanline;
    }
  }
