  // src/styles/themes/_colors.scss
  
  @use '../abstracts' as *;

  :root {
    --color-bg: #{$platinum};
    --color-text: #{$carbon};
    --color-text-inverse: #{$ghost};
    --color-link: #{$sky};
    --color-link-hover: #{$ice};
    --color-accent: #{$arctic};
  }

  [data-theme='dark'] {
    --color-bg: #{$carbon};
    --color-text: #{$platinum};
    --color-text-inverse: #{$carbon};
  }

  [data-theme='c64'] {
    --color-bg: #{$c64-dark-blue};
    --color-text: #{$c64-light-blue};
    --color-text-inverse: #{$c64-dark-blue};
    --color-link: #{$platinum};
    --color-link-hover: #{$stone};
  }
