@import "tailwindcss";

@theme {
  --color-background: #faf7f0;
  --font-haas: "Neue Haas Grotesk Display Pro";
}

@utility rainbow {
  --width: clamp(16px, 2vw, 24px);
  background: linear-gradient(
    to right,
    #064cc1  0%   20%,
    #1976d2  20%  40%,
    #ffd100  40%  60%,
    #ff6a00  60%  80%,
    #e53935  80%  100%
  ) 0 0 / var(--width) 100% no-repeat
}