---
import DefaultLayout from '../layouts/DefaultLayout.astro';

const photos = [
  { src: '/images/photos/beach-shadows.jpg', alt: 'Palm tree shadow on beach' },
  { src: '/images/photos/antigua-bay.jpg', alt: 'Antigua bay aerial view' },
  { src: '/images/photos/keyboard.jpg', alt: 'Work Louder keyboard setup' },
  { src: '/images/photos/lego-surfer.jpg', alt: 'Blue lego surfer sculpture' },
  { src: '/images/photos/ball-pit.jpg', alt: 'Ball pit' },
  { src: '/images/photos/beach-bar.jpg', alt: 'Beach bar view' },
  { src: '/images/photos/streetlight.jpg', alt: 'Streetlight and moon' },
  { src: '/images/photos/silhouettes.jpg', alt: 'Neon silhouettes' },
  { src: '/images/photos/purple-house.jpg', alt: 'Purple and pink Caribbean house' },
  { src: '/images/photos/palm-shadow.jpg', alt: 'Palm tree shadow on beach' },
  { src: '/images/photos/alcatraz-water-tower.jpg', alt: 'Alcatraz water tower' },
  { src: '/images/photos/pinecone.jpg', alt: 'Pinecone on mulch' },
  { src: '/images/photos/tree-roots.jpg', alt: 'Black and white tree roots' },
  { src: '/images/photos/hotel-atrium.jpg', alt: 'Hotel atrium with red sculpture' },
];
const columnCount = 3;
const perColumn = Math.ceil(photos.length / columnCount);
const columns = Array.from({ length: columnCount }, (_, i) =>
  photos.slice(i * perColumn, (i + 1) * perColumn)
);
---

<DefaultLayout pageTitle="Photos">
  <article>

    <div class="masonry">
      {columns.map((col) => (
        <div class="masonry__column">
          {col.map((photo, i) => (
            <div class:list={['masonry__item', { 'masonry__item--last': i === col.length - 1 }]}>
              <img src={photo.src} alt={photo.alt} loading="lazy" />
            </div>
          ))}
        </div>
      ))}
    </div>

  </article>
</DefaultLayout>

<style lang="scss">
  @use '../styles/abstracts' as *;

  .masonry {
    display: flex;
    gap: $spacing-unit * 2;

    @include mobile {
      flex-wrap: wrap;
    }
  }

  .masonry__column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: $spacing-unit * 2;

    @include mobile {
      flex: 0 0 100%;
    }
  }

  .masonry__item {
    img {
      display: block;
      width: 100%;
      height: auto;
    }

    &--last {
      flex: 1;

      img {
        height: 100%;
        object-fit: cover;
      }
    }
  }
</style>
