---
// components/Footer.astro
---
<footer>
  <p class="copyright">&copy; {new Date().getFullYear()} Mark McDermott</p>
  <p class="ready">Ready.</p>
</footer>


<style lang="scss">
  @use '../styles/abstracts' as *;
  footer {
    // margin: ($spacing-unit * 5) 0 0;
    padding: ($spacing-unit * 2) 0 0;
    display: flex;
    justify-content: space-between;
    @include hyphen-border;
    
    .copyright {
      @include terminal-output;
      font-family: 'Sixtyfour', monospace;
      font-kerning: none;
      font-size: 0.8rem;
      letter-spacing: -0.04em;
      word-spacing: -0.6em;
      text-transform: none;
    }

    .ready {
      @include c64-pro-mono;
      font-family: 'Sixtyfour', monospace;
      font-kerning: none;
      font-size: 0.875rem;
    }
  }
</style>

