---
// components/Footer.astro
---
<footer>
  <p class="copyright">&copy; {new Date().getFullYear()} Mark McDermott</p>
  <p class="ready">Ready.</p>
</footer>


<style lang="scss">
  @use '../styles/abstracts' as *;
  footer {
    margin-bottom: $spacing-unit * 5;
    padding: ($spacing-unit * 2) 0 0;
    display: flex;
    justify-content: space-between;
    @include hyphen-border;
    
    .copyright {
      @include c64-type;
      font-size: $font-size-sm;
      letter-spacing: -0.04em;
      word-spacing: -0.6em;
      text-transform: none;
    }

    .ready {
      @include c64-type;
      font-size: $font-size-sm;
    }
  }
</style>

