---
---
<footer>
  <p class="copyright">&copy; {new Date().getFullYear()} Mark McDermott</p>
  <div class="footer__right">
    <div class="footer__social">
      <a href="https://github.com/mark-mcdermott/markmcdermott.io" target="_blank" rel="noopener noreferrer" title="github">[gh]</a>
      <a href="https://bsky.app/profile/mark-mcdermott.bsky.social" target="_blank" rel="noopener noreferrer" title="bluesky">[bs]</a>
      <a href="https://www.linkedin.com/in/mark-mcdermott-6a174916" target="_blank" rel="noopener noreferrer" title="linkedin">[in]</a>
    </div>
    <p class="ready">Ready.</p>
  </div>
</footer>


<style lang="scss">
  @use '../styles/abstracts' as *;
  footer {
    margin-bottom: $spacing-unit * 5;
    padding: ($spacing-unit * 2) 0 0;
    display: flex;
    justify-content: space-between;
    @include hyphen-border;
    
    .copyright {
      @include c64-type;
      font-size: $font-size-sm;
      letter-spacing: -0.04em;
      word-spacing: -0.6em;
      text-transform: none;
    }

    .footer__right {
      display: flex;
      align-items: center;
      gap: $spacing-unit * 3;
    }

    .footer__social {
      display: flex;
      gap: $spacing-unit * 2;

      a {
        @include c64-type;
        font-size: $font-size-sm;
        text-decoration: none;
        text-transform: lowercase;
        letter-spacing: -0.15em;
        color: inherit;
        font-weight: normal;

        &:hover {
          color: var(--color-link);
        }
      }
    }

    .ready {
      @include c64-type;
      font-size: $font-size-sm;
    }
  }
</style>

