---
const year = new Date().getFullYear();
---

<footer class="border-black/20 border-x border-b bg-accent-500">
  <div class="mx-auto p-8 items-start justify-between w-full">
    <div class="text-center items-center mx-auto" style="color: #1e1e1e;">
      <p class="mx-auto mt-3 text-sm">
        &copy; {year}
        <a class="underline" href="#">Mark McDermott</a>
      </p>
    </div>
  </div>
</footer>
