---
import ThemeToggle from "./ThemeToggle.astro";
---

<div class="justify-center w-full nav">
  <div
    class="text-center items-center w-full flex flex-col justify-between md:p-8 md:flex-row"
  >
    <a
      href="/"
      class="visited:text-black font-black uppercase tracking-tight p-4 md:p-0"
      style="color: #1e1e1e;"
      ><span>MARKMCDERMOTT.IO</span>
    </a>
    <div
      class="flex flex-col md:flex-row md:items-end lg:items-center w-full md:w-auto"
    >
      <a
        href="/about"
        class="w-full md:w-fit bg-white duration-200 font-black hover:bg-gray-200 lg:ml-auto px-6 md:px-4 lg:px-6 py-4 md:rounded-full text-center text-xs uppercase"
        style="color: #1e1e1e;"
        >About</a
      >
      <a
        href="/blog"
        class="w-full md:w-fit bg-white duration-200 font-black hover:bg-gray-200 px-6 md:px-4 lg:px-6 py-4 md:mx-4 md:rounded-full border-t md:border-t-0 text-center text-xs uppercase"
        style="color: #1e1e1e;"
        >Blog</a
      >
      <a
        href="https://github.com/mark-mcdermott"
        class="w-full md:w-fit bg-orange duration-200 font-black hover:bg-orange-600 text-white px-6 md:px-4 lg:px-6 py-4 md:mx-4 md:rounded-full border-t md:border-t-0 text-black hover:text-white text-center text-xs uppercase"
        >Github</a
      >
      <div class="flex items-center justify-center p-4 md:p-0 md:ml-4">
        <ThemeToggle />
      </div>
    </div>
  </div>
</div>
