---
import '../styles/main.scss';
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';
const { title, pageTitle, headerClass } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
      <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&family=Noto+Emoji&family=Sixtyfour&display=swap" rel="stylesheet">
	</head>
	<body>
    <main>
      <Nav />
      {pageTitle && (
        <div class:list={['page-header', headerClass]}>
          <h1>{pageTitle}</h1>
          <slot name="header-meta" />
        </div>
      )}
      <slot />
      <Footer />
    </main>
	</body>
</html>

<style lang="scss">
  @use '../styles/abstracts' as *;

  main {
    max-width: 72ch;
    margin: 0 auto;
    padding: 0 ($spacing-unit * 2);
  }

  .page-header {
    margin-top: $spacing-unit * 6;
    padding-bottom: $spacing-unit * 6;
    margin-bottom: $spacing-unit * 7;
    @include hyphen-border(bottom);
  }

  .page-header--flush {
    margin-bottom: 0;
    border: none;
    border-image: none;
  }

  .page-header--meta {
    padding-bottom: $spacing-unit * 2;
  }
</style>
