// styles/base/_typography.scss
@use './../abstracts';

@font-face {
  font-family: 'C64 Pro Mono';
  src: url('/fonts/C64_Pro_Mono-STYLE.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  color: var(--color-text);
  background-color: var(--color-bg);
  font-family: abstracts.$font-family-body;
  font-size: abstracts.$font-size-base;
  line-height: abstracts.$line-height-base;
  letter-spacing: abstracts.$letter-spacing-body;
}

h1, h2, h3, h4, h5, h6 {
  font-family: abstracts.$font-family-headers;
  line-height: abstracts.$header-line-height-base;
  letter-spacing: abstracts.$letter-spacing-headers;
}

a {
  color: var(--color-link);
  text-decoration: none;
  font-weight: 600;

  &:hover {
    color: var(--color-link-hover);
  }
}

code, pre {
  font-family: inherit;
}